<!DOCTYPE html>
<html>
    <head>
        <title>Lab 5</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <h1>Welcome to Baby Kitten World</h1>
        <h2>Click each link to uncover a new cat!</h2>
        <nav> 
            <ul>
                <li> <a href="Steven.html">Steven</a></li>
                <li> <a href="William.html">William</a></li>
                <li> <a href="Jeff.html">Jeff</a></li>
            </ul>
        </nav>
    </body>
</html>
